body{
    background: rgb(0, 0, 0);
    font-family: 'Courier New', sans-serif;
}

h1{
	font-size: 3em;
	color: green;
	/*text-align: center;*/
	margin-top: 10px;
	display: inline;
}


.sidebar{
    background-image: url("giphy.webp");
	position: fixed;
	top: 0;
	height: 100%;
	width: 150px;
	z-index: 1;
}

#left{
	left:0;
}
#right{
	right:0;
}

.header img {

  }
  
.header {
	padding: 150px;
	text-align: left;
}


p { 
        font-size:14px; 
        color: green; 
		}

.var {
	color: blue;
	}

.string { /* OK, a bit contrived... */
	 color: orange;
	}
.method{

}
/* Links / "Method Groups" */

